body{
    margin: 0;
    padding: 0;
    background: #000000;
  }

ul{
    padding: 0%;
    
    margin: 0 0 0 250px;
    list-style: none;
}

nav{
    width: 100%;
    overflow: auto;
    background: black;
}
li{
    float: left;
}
li a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: arial;
    color: white;
    text-align: center;

}
li a:hover{
    background: gray;
    text-transform: uppercase;
}

.container{
    width: 100%;
    text-align: center;

}

h1{
    font-weight: normal;
    font-size: 50px;
    position: relative;
    margin: 40px 0;
   font-style: initial;
   color: rgb(39, 6, 88);
}

h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color:black;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }

    50%{
        width: 200px;

    }
    100%{
        width: 100px;
    }
}
.top-content{
    background-color: rgb(125, 55, 55);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px orange;

}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h2{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    

}

.content a{
    border: 1px solid #ffff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    background: black;
}

.content a:hover{
    background: gray;
}


header {
    background: url(/html/images/new-york.jpg);
    height: 100vh;
    -webkit-backgound-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}